<!DOCTYPE html>
<html lang="en">
<head>
	
	<title><%= title %></title>
	<%-include ('partials/head.html') %>

</head>
<body>
    <%-include ('partials/navigation.html') %>

    <main id="listaProd">
		
	</main>

	<%-include ('partials/footer.html') %>
	<script>

		let listaProd = new String();
		let tarjeta= new String();
		let linkProd= new String();
		let nameProd= new String();
		let priceProd= new String();

        fetch('http://localhost:3000/prod_cartasJSON')
		    .then(response => response.json())
		    .then(json => data = json)
		    .then(data=>{
		    
			for(let i=0; i<=data.length ;i++){
				listaProd[i] = document.getElementById('listaProd')
				tarjeta[i] = document.createElement('div')
				linkProd[i] = document.createElement('a')
				nameProd[i] = document.createElement('p')
				priceProd[i] = document.createElement('p')

				tarjeta[i].setAttribute("class","tarjeta")
				tarjeta[i].setAttribute("style",`background-image:linear-gradient(transparent, black),url('img/${data[i].nombre}.jpg')`)
				tarjeta[i].style.backgroundSize = "cover"

				linkProd[i].setAttribute("href","/prod1")

				nameProd[i].innerText = data[i].nombre;
				priceProd[i].setAttribute("class","precio")
				priceProd[i].innerText = data[i].precio;

				linkProd[i].appendChild(nameProd[i])
				linkProd[i].appendChild(priceProd[i])
				tarjeta[i].appendChild(linkProd[i])
				listaProd[i].appendChild(tarjeta[i])

			}
        })
	</script>
</body>
</html>