<!DOCTYPE html>
<html lang="en">
<head>
	
	<title>Contacto</title>

	<%-include ('partials/head.html') %>

</head>

<body>
    <%-include ('partials/navigation.html') %>
    <section class="formulario">
	  	<form>
		  	<label for="name">Nombre</label><br>
			<input type="name"><br>
			<label for="email">Email</label><br>
		  	<input type="email"><br>
		  	<label for="comment">Deje su mensaje</label><br>
  			<textarea></textarea><br>
		  	<button type="submit">ENVIAR</button>
	  	</form>	
	</section>
	<%-include ('partials/footer.html') %>
</body>
</html>