<!DOCTYPE html>
<html lang="en">
<head>
	
	<title>Contáctanos - Calamitus</title>

	<%-include ('partials/head.html') %>
	<link rel="stylesheet" href="css/form.css">

</head>

<body>
    <%-include ('partials/navigation.html') %>
    <section class="formulario">
	  	<form id="formComment" action="/contact" method="post">
		  	<label for="name">Nombre</label><br>
			<input id="nombre" type="name" name="name" required><br>
			<label for="email">Email</label><br>
		  	<input id="correo" type="email" name="email" required><br>
		  	<label for="comment">Deje su mensaje</label><br>
  			<textarea id="comentario" name="comment" required></textarea><br>
		  	<button id="subComment" type="submit">ENVIAR</button>
	  	</form>	
	</section>
	<%-include ('partials/footer.html') %>
</body>
</html>