<!DOCTYPE html>
<html lang="en">
<head>
	
	<title><%= title %></title>
	<%-include ('partials/head.html') %>

</head>
<body>
    <%-include ('partials/navigation.html') %>

    <main id="listaProd">
		
	</main>

	<%-include ('partials/footer.html') %>
	<script>

        function crearTarjeta(objeto){
			let listaProd , tarjeta , linkProd , nameProd , priceProd;

            listaProd = document.getElementById('listaProd')
			tarjeta = document.createElement('div')
			linkProd = document.createElement('a')
			nameProd = document.createElement('p')
			priceProd = document.createElement('p')

			tarjeta.setAttribute("class","tarjeta")
			tarjeta.setAttribute("style",`background-image:linear-gradient(transparent, black),url('img/${objeto.nombre}.jpg')`)
			tarjeta.style.backgroundSize = "cover"

			linkProd.setAttribute("href",`/${objeto.nombre}`)

			nameProd.innerText = objeto.nombre;
			priceProd.setAttribute("class","precio")
			priceProd.innerText = objeto.precio;

			linkProd.appendChild(nameProd)
			linkProd.appendChild(priceProd)
			tarjeta.appendChild(linkProd)
			listaProd.appendChild(tarjeta)
		}

        fetch('http://localhost:3000/productosJSON')
		    .then(response => response.json())
		    .then(json => data = json)
		    .then(data=>{
		    
		    data.forEach(element=>{
		    	if(element.categoria_id==2){
                    crearTarjeta(element);
		    	}
                
		    });
        })
	</script>
</body>
</html>