<!DOCTYPE html>
<html lang="en">
<head>
	
	<title><%= title %></title>
	<%-include ('partials/head.html') %>

</head>
<body>
    <%-include ('partials/navigation.html') %>
    
    <main class="VistaProd">
        <div class="tarProd">
        	<div class="imgProd">

        		<img id=imgProd src="img/catan.jpg" alt="">
        		<button class="chgImg" onclick="cambiarImagen('catan.jpg')"></button>
        		<button class="chgImg" onclick="cambiarImagen('hive.jpg')"></button>
        		<button class="chgImg" onclick="cambiarImagen('nonaga.jpg')"></button>
        		<button class="chgImg" onclick="cambiarImagen('star realms.jpg')"></button>
        		<button class="chgImg" onclick="cambiarImagen('splendor.jpg')"></button>
        	</div>
        	<div class="desProd">
        		<h1>Producto Nº001</h1>
        		<p>Supone un riesgo tomar una decisión basándose en la visualización de un color en un monitor. Para asegurarse de que el color es el adecuado, le recomendamos utilizar un muestrario de color RAL físico.</p>
        		<h3>RAL usados</h3>
        		<ul>
        			<li>RAL 2000</li>
        			<li>RAL 2002</li>
        			<li>RAL 2007</li>
        			<li>WHITE</li>
        			<li>BLACK</li>
        		</ul>
        		<div class="btnComprar">
        			<p>$600</p>
        		<a href="https://mpago.la/2ecBTxz">Comprar</a>
        		</div>
        	</div>
        </div>
    </main>

    <%-include ('partials/relatedProducts.html') %>
    <%-include ('partials/footer.html') %>
</body>
</html>