<script src="js/main.js"></script>
<footer>
	<div class="siteFoot">
		<div class="about">
			<h3>Calamitus</h3>
			<h6>Hecho en casa por uno, jugado por muchos...</h6>
			<p>No pierdas la oportunidad de llevar a tu casa juegos de mesa, rol, cartas y demás para disfrutarlo en familia</p>
			<p>Calamitus nació nada mas que con la idea de entretener a un grupo de amigos. Matías, el fundador, empezó a desarrollar estos juegos con tán solo papel, cartón y madera. Más adelante, adquirío guillotina de mesa e impresora 3D. El nivel de calidad iba en constante subida y empezó a comercializarlos.</p>
			<p>Hoy Calamitus busca posicionarse como una distribuidora de juegos de mesa artesanales hechos divertir a quien adquiera uno de estos y a sus amigos! :)</p>
		</div>

		<div class="categories">
			<div class="mercado">
				<h6>Método de cobro</h6>
				<p>Los productos se cobran a través de la plataforma de mercado pago</p>
				<img src="img/MercadoPago.png" alt="">
			</div>
			<h6>Vista por categorías</h6>
			<a href="/cartas">Ir a la categoria <span style="background-color: salmon;color:ghostwhite;">CARTAS</span></a>
			<a href="/fichas">Ir a la categoria <span style="background-color: lawngreen;color:ghostwhite;">FICHAS</span></a>
			<a href="/impresiones3D">Ir a la categoria <span style="background-color: crimson;color:ghostwhite;">IMPRESIONES 3D</span></a>
		</div>
		<div class="socialNet">
			<div class="siteLogo">
				<img src="img/logo-calamitus.png" alt="">
			</div>
			<a href=""><img src="img/facebook blanco.png" alt=""></a>
			<a href=""><img src="img/instagram blanco.png" alt=""></a>
		</div>
		<div class="copyright">
			<p translate="no">Calamitus ™ Website develop by Skarger2</p>
			<div class="socialNet">
			<a href=""><img src="img/facebook blanco.png" alt=""></a>
			<a href=""><img src="img/instagram blanco.png" alt=""></a>
			<a href=""><img src="img/linkedin blanco.png" alt=""></a>
		</div>

		</div>
	</div>
</footer>