	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="keywords" content="calamitus,calamitus tienda online">
    <meta name="description" content="Calamitus - No pierdas la oportunidad de llevar a tu casa juegos de mesa, rol, cartas y demás para disfrutarlo en familia">
    <meta name="author" content="Skarger2">
    <meta name="copyright" content="skarger2">
    <meta name="robots" content="index">
    <meta http-equiv="expires" content="0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/Calamitus.ico">