	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="keywords" content="calamitus,tienda online">
    <meta name="description" content="Aprende a utilizar WordPress, las redes sociales y a como redactar publicaciones para impulsar cualquier tipo de negocio. Ofrecemos dos formas de aprender: Una es leyendo nuestras lecciones y la otra es contratando una clase personalizada ajustada a tus horarios.">
    <meta name="author" content="Skarger2">
    <meta name="copyright" content="skarger2">
    <meta name="robots" content="index">
    <meta http-equiv="expires" content="0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap" rel="stylesheet">
    <link rel="icon" href="img/Calamitus.ico">