<section class="RelatedProd">
	<div class="titleRelProd">
		<h2>Productos relacionados</h2>
	</div>
	<div class="btnSlider">
		<button><</button>
	</div>
	<div class="SlideRelProd">
		<div id="prod1" class="tarjetaChica" style="background-image: linear-gradient(transparent, black), url('img/carcassonne.jpg');background-size:cover;">
		<a href="/prod1">
			<p>CARCASSONNE</p>
			<p>$600</p>
		</a>
	    </div>
	    <div id="prod2" class="tarjetaChica" style="background-image: linear-gradient(transparent, black), url('img/dixit.jpg');background-size:cover;">
		<a href="/prod1">
			<p>DIXIT</p>
			<p>$600</p>
		</a>
	    </div>
	    <div id="prod3" class="tarjetaChica" style="background-image: linear-gradient(transparent, black), url('img/splendor.jpg');background-size:cover;">
		<a href="/prod1">
			<p>SPLENDOR</p>
			<p>$600</p>
		</a>
	    </div>
	    <div id="prod4" class="tarjetaChica" style="background-image: linear-gradient(transparent, black), url('img/nonaga.jpg');background-size:cover;">
		<a href="/prod1">
			<p>NONAGA</p>
			<p>$600</p>
		</a>
	    </div>
	    <div id="prod5" class="tarjetaChica" style="background-image: linear-gradient(transparent, black), url('img/virus.jpg');background-size:cover;">
		<a href="/prod1">
			<p>VIRUS</p>
			<p>$600</p>
		</a>
	    </div>
	</div>
	<div class="btnSlider">
	    <button>></button>
    </div>
</section>